@page
@model ListModel
@{
    ViewData["Title"] = "List!";
}

<h1>List of Restauangs</h1>
<form method="get">
    <div class="form-group">
        <div class="form-group">
            <div class="input-group">
                <form>
                    <input type="search" class="form-control" asp-for="search_name" />
                    <span class="input-group-btn">
                        <button name="search_btn" type="button" class="w3-button w3-circle">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>

    </div>

</form>
<table class="table">
    @foreach(var r in Model.Restaurants)
    {
    <tr>
        <td>@r.Name</td>
        <td>@r.Location</td>
        <td>@r.Cuisine</td>
    </tr>
    }
</table>

<div>
    @Model.Message

</div>
