@page
@model ListModel
@{
    ViewData["Title"] = "List!";
}

<h1>List of Restauangs</h1>
<form method="get">
    <div class="form-group">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" value="" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                    </button>
                </span>
            </div>
        </div>

    </div>

</form>
<table class="table">
    @foreach(var r in Model.Restaurants)
    {
    <tr>
        <td>@r.Name</td>
        <td>@r.Location</td>
        <td>@r.Cuisine</td>
    </tr>
    }
</table>

<div>
    @Model.Message

</div>
